* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(rgb(0, 2, 29),rgb(0, 14, 59));
}

button {
    height: 150px;
    width: 250px;
    border: 1px solid white;
    border-radius: 12px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
    margin-bottom: 80px;
}

button:hover{
    background-color: slateblue;
}

#tabela{
    margin-top: 20px;
    background-color: white;
}

#tabela, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}
